<div class="main-body" layout="vertical" layout-fill>

  <div ng-if="!main.clients" layout-fill>
    <center>
      <h2>Loading Clients .. </h2>
    </center>
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular class="md-warn md-hue-3" md-mode="indeterminate"></md-progress-circular>
    </div>
  </div>

  <div ng-if="main.clients">
    <h1> Current Clients </h1>
    <md-list-item class="md-2-line" ng-repeat="client in main.clients">
      <md-icon style="font-size: 40px;" md-font-icon="account_circle" aria-label="account_circle">account_circle</md-icon>
      <div class="md-list-item-text">
        <h3> {{ client.firstName + ' ' + client.lastName }} </h3>
        <p> {{ client.email }} </p>
      </div>
    </md-list-item>
  </div>

</div>
